:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --main-cr: #ef4444;
  --text-cr: #ffffff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
html {
  font-size: 16px;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 1s;
}
h1,
h2,
h3,
h4,
p,
a {
  transition: none;
}
a {
  color: inherit;
  text-decoration: none;
  text-align: center;
}
h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
}
h2 {
  font-size: 2rem;
  letter-spacing: 1.5px;
}
p {
  font-size: 1rem;
  letter-spacing: 1px;
}
.cont {
  height: 600px;
  max-height: max-content;
  width: 90%;
  max-width: 1200px;
  margin: 10% auto;
  animation-name: pageAn;
  animation-duration: 2s;
}

@keyframes pageAn {
  from {
    height: 0px;
    opacity: 0;
  }
  to {
    height: 600px;
    opacity: 1;
  }
}
